In [2]:
import csv

In [3]:
import pandas as pd

In [4]:
trainig_file= pd.read_csv('poker-hand-training.data')

In [5]:
 trainig_file.head()

   1  10  1.1  11  1.2  13  1.3  12  1.4  1.5  9
0  2  11    2  13    2  10    2  12    2    1  9
1  3  12    3  11    3  13    3  10    3    1  9
2  4  10    4  11    4   1    4  13    4   12  9
3  4   1    4  13    4  12    4  11    4   10  9
4  1   2    1   4    1   5    1   3    1    6  8