In [1]:
import csv
import math

In [2]:
import pandas as pd

In [3]:
training_file= pd.read_csv('poker-hand-training.data')
teste_file =pd.read_csv('poker-hand-testing.data')
test_file=teste_file.values.tolist()

In [4]:
 training_file.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

In [5]:
 training_file.describe()

,S1,C1,S2,C2,S3,C3,S4,C4,S5,C5,CLASS
count,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000
mean,2.508756,6.995242,2.497721,7.014194,2.510236,7.014154,2.495922,6.942463,2.497321,6.962735,0.621152
std,1.116483,3.749805,1.121767,3.766974,1.123148,3.744974,1.116009,3.747147,1.118732,3.741579,0.788361
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,2.000000,4.000000,1.000000,4.000000,2.000000,4.000000,1.000000,4.000000,1.000000,4.000000,0.000000
50%,3.000000,7.000000,2.000000,7.000000,3.000000,7.000000,2.000000,7.000000,3.000000,7.000000,1.000000
75%,4.000000,10.000000,4.000000,10.000000,4.000000,10.000000,3.000000,10.000000,3.000000,10.000000,1.000000
max,4.000000,13.000000,4.000000,13.000000,4.000000,13.000000,4.000000,13.000000,4.000000,13.000000,9.000000

In [6]:
training_file["CLASS"].value_counts()

0    12493
1    10599
2     1206
3      513
4       93
5       54
6       36
7        6
9        5
8        5
Name: CLASS, dtype: int64

In [7]:
entradas=[]

In [8]:
df0=training_file[training_file["CLASS"]==0]
entradas.append(df0)

In [9]:
df1=training_file[training_file["CLASS"]==1]
entradas.append(df1)

In [10]:
df2=training_file[training_file["CLASS"]==2]
entradas.append(df2)

In [11]:
df3=training_file[training_file["CLASS"]==3]
entradas.append(df3)

In [12]:
df4=training_file[training_file["CLASS"]==4]
entradas.append(df4)

In [13]:
df5=training_file[training_file["CLASS"]==5]
entradas.append(df5)

#print(len(df5))

In [14]:
df6=training_file[training_file["CLASS"]==6]
entradas.append(df6)

In [15]:
df7=training_file[training_file["CLASS"]==7]
entradas.append(df7)

In [16]:
df8=training_file[training_file["CLASS"]==8]
entradas.append(df8)

In [17]:
df9=training_file[training_file["CLASS"]==9]
entradas.append(df9)

In [ ]:
dx = pd.DataFrame([[1,20,1], [2,21,0], [3,22,1], [4,22,0]])
dx

In [ ]:
A=dx[dx[2]==1].mean(axis=0).tolist()
B=dx[dx[2]==1].std().tolist()
print(len(dx),'\n')
BD=[]
for i in range(len(A)):    
    BD.append(A[i])
    BD.append(B[i]) 
    
#B=dx[dx[2]==1].std()
print(BD)

In [ ]:
print(df9,"\n")

x=df9.mean(axis=0)

y=df9.std(axis=0)

print(x,"T",len(x),type(x))
print(y)
BD=[]
BD=list(zip(x,y))
del BD[-1]
print(BD)

In [18]:
    summarizado={}
    #0
    AM9=[]
    SD9=[]
    BD=[]
    AM9=df0.mean(axis=0)
    SD9=df0.std(axis=0)
    BD=list(zip( AM9,SD9))
    del BD[-1]
    summarizado[0]=BD
    
    #1
    AM9=[]
    SD9=[]
    AM9=df1.mean(axis=0)

    SD9=df1.std(axis=0)
    BD=[]
    BD=list(zip( AM9,SD9))
    del BD[-1]
    summarizado[1]=BD
    #2
    AM9=[]
    SD9=[]
    AM9=df2.mean(axis=0)

    SD9=df2.std(axis=0)

    BD=[]
    BD=list(zip( AM9,SD9))
    del BD[-1]
    
    summarizado[2]=BD

    #3
    AM9=[]
    SD9=[]
    AM9=df3.mean(axis=0)

    SD9=df3.std(axis=0)

    BD=[]
    BD=list(zip( AM9,SD9))
    del BD[-1]
    summarizado[3]=BD
    
    #4
    AM9=[]
    SD9=[]
    AM9=df4.mean(axis=0)

    SD9=df4.std(axis=0)

    BD=[]
    BD=list(zip( AM9,SD9))
    del BD[-1]
    summarizado[4]=BD
    
    #5
    AM9=[]
    SD9=[]
    AM9=df5.mean(axis=0)

    SD9=df5.std(axis=0)

    BD=[]
    BD=list(zip( AM9,SD9))
    del BD[-1]
    summarizado[5]=BD
    #6
    AM9=[]
    SD9=[]
    AM9=df6.mean(axis=0)

    SD9=df6.std(axis=0)

    BD=[]
    BD=list(zip( AM9,SD9))
    del BD[-1]
    
    summarizado[6]=BD


    AM9=[]
    SD9=[]
    AM9=df7.mean(axis=0)

    SD9=df7.std(axis=0)
    #7
    BD=[]
    BD=list(zip( AM9,SD9))
    del BD[-1]
    summarizado[7]=BD
    
    #8
    AM9=[]
    SD9=[]
    AM9=df8.mean(axis=1).tolist()

    SD9=df8.std(axis=1).tolist()

    BD=[]
    BD=list(zip( AM9,SD9))
    del BD[-1]
    summarizado[8]=BD
    AM9=[]
    SD9=[]
    AM9=df9.mean(axis=1).tolist()
    SD9=df9.std(axis=1).tolist()
    BD=[]
    BD=list(zip( AM9,SD9))
    del BD[-1]
    summarizado[9]=BD

    
#     print("DIC",summarizado,len(summarizado))

In [19]:
def CalcularPro(x,madia,desvio):
    expoente = math.exp(-(math.pow(x-madia,2)/(2*math.pow(desvio,2))))
    return (1 / (math.sqrt(2*math.pi) * desvio)) * expoente

In [20]:
def provabilidesporclass(summarizado,test_file):
    probabilidades={}
    for classe,clasummarizado in summarizado.items():
        
        probabilidades[classe]=1
        
        for i in range(len(clasummarizado)):
            media,desvio= clasummarizado[i]
            x = test_file[i]
            probabilidades[classe]*=CalcularPro(x,media,desvio)
    
    return probabilidades

In [ ]:
def previsao(summarizado, teste_file):
    probabilidades=provabilidesporclass(summarizado,teste_file)
    MelhorLegenda,melhorpro=None,-1
    for Classe, pro in probabilidades.items():
        if MelhorLegenda is None or pro> melhorpro:
            melhorpro=pro
            MelhorLegenda=Classe
            
    return MelhorLegenda

In [24]:
def getAccuracy(testSet, predictions):
    correct = 0
    valorA=0
    valorB=0
    status=-1
    situacao=-1
    print(testSet[1],'\n')
    print(testSet[1][-1],"\n")
    for i in range(len(testSet)):
        if testSet[i][-1] == predictions[i]:
            correct+=1
            if testSet[i][-1] ==1.0:
                valorA+=1
            elif testSet[i][-1] == 0.0:
                valorB+=1
    print(correct,"A",valorA,"B",valorB)
    if valorA>valorB:
        situacao=(valorA/float(correct)) * 100.0
        status=1
    else:
        situacao=(valorB/float(correct)) * 100.0
        status=0
    #Buscando qual a classe teve o maior acerto, acredito que estou no caminho certo, agora e fazer o teste final 
    accuracy=(correct/float(len(testSet))) * 100.0

    return accuracy,status,situacao

In [27]:
def getPredictions(summarizado, teste_file):
    previsoes=[]
   
    for i in range(len(teste_file)):
        resultado=previsao(summarizado,teste_file[i])
        previsoes.append(resultado)
    return previsao

preve= getPredictions(summarizado, test_file)
accuracy,status,situacao = getAccuracy(test_file, preve)
print('Accuracy: {0}%'.format(accuracy))
if status==0:
    result="Não teve diabetes" 
else:
    result="Teve diabetes"
print("S",result,"{0}%".format(situacao))
# print (preve)

IndentationError: unexpected indent (<ipython-input-27-4f1c4da7c5a1>, line 12)