In [3]:
import csv
import math

In [4]:
import pandas as pd

In [5]:
training_file= pd.read_csv('poker-hand-training.data')
teste_file =pd.read_csv('poker-hand-testing.data')
test_file=teste_file.values.tolist()

In [4]:
 training_file.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

In [5]:
 training_file.describe()

,S1,C1,S2,C2,S3,C3,S4,C4,S5,C5,CLASS
count,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000
mean,2.508756,6.995242,2.497721,7.014194,2.510236,7.014154,2.495922,6.942463,2.497321,6.962735,0.621152
std,1.116483,3.749805,1.121767,3.766974,1.123148,3.744974,1.116009,3.747147,1.118732,3.741579,0.788361
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,2.000000,4.000000,1.000000,4.000000,2.000000,4.000000,1.000000,4.000000,1.000000,4.000000,0.000000
50%,3.000000,7.000000,2.000000,7.000000,3.000000,7.000000,2.000000,7.000000,3.000000,7.000000,1.000000
75%,4.000000,10.000000,4.000000,10.000000,4.000000,10.000000,3.000000,10.000000,3.000000,10.000000,1.000000
max,4.000000,13.000000,4.000000,13.000000,4.000000,13.000000,4.000000,13.000000,4.000000,13.000000,9.000000

In [6]:
training_file.dtypes

S1       int64
C1       int64
S2       int64
C2       int64
S3       int64
C3       int64
S4       int64
C4       int64
S5       int64
C5       int64
CLASS    int64
dtype: object

In [7]:
training_file.columns

Index(['S1', 'C1', 'S2', 'C2', 'S3', 'C3', 'S4', 'C4', 'S5', 'C5', 'CLASS'], dtype='object')

In [8]:
#training_file["S1"]

In [9]:
training_file["S1"].value_counts()

4    6312
2    6298
3    6250
1    6150
Name: S1, dtype: int64

In [10]:
training_file["CLASS"].value_counts()

0    12493
1    10599
2     1206
3      513
4       93
5       54
6       36
7        6
9        5
8        5
Name: CLASS, dtype: int64

In [11]:
training_file.groupby("CLASS").mean()

,S1,C1,S2,C2,S3,C3,S4,C4,S5,C5
CLASS,,,,,,,,,,
0,2.507244,6.985272,2.501161,7.037701,2.512767,7.046746,2.493476,6.905707,2.512047,6.954855
1,2.501934,6.994716,2.494103,7.000377,2.502972,6.987546,2.494669,6.977168,2.479762,6.991414
2,2.557214,7.196517,2.495025,6.892206,2.509950,6.927032,2.564677,7.018242,2.481758,6.893864
3,2.557505,6.680312,2.481481,6.920078,2.567251,6.844055,2.477583,6.785575,2.497076,6.623782
4,2.397849,7.516129,2.440860,7.892473,2.569892,7.784946,2.301075,7.483871,2.612903,7.430108
5,2.703704,7.222222,2.703704,6.648148,2.703704,6.907407,2.703704,6.907407,2.703704,7.055556
6,2.611111,6.944444,2.472222,6.250000,2.555556,6.916667,2.055556,7.333333,2.333333,6.861111
7,3.166667,6.666667,2.833333,6.500000,2.333333,6.500000,1.333333,7.166667,3.333333,9.333333
8,2.200000,3.600000,2.200000,5.600000,2.200000,5.800000,2.200000,5.600000,2.200000,7.400000
9,2.800000,8.800000,2.800000,11.800000,2.800000,9.800000,2.800000,11.600000,2.800000,5.000000

In [6]:
df0=training_file[training_file["CLASS"]==0]
#print(df0)

In [7]:
df1=training_file[training_file["CLASS"]==1]
#print(df1)

In [8]:
df2=training_file[training_file["CLASS"]==2]
#print(df2)

In [9]:
df3=training_file[training_file["CLASS"]==3]
#print(df3)

In [10]:
df4=training_file[training_file["CLASS"]==4]
#print(df4)

In [11]:
df5=training_file[training_file["CLASS"]==5]
#print(df5,'\n')

#print(len(df5))

In [12]:
df6=training_file[training_file["CLASS"]==6]
#print(df6)

In [13]:
df7=training_file[training_file["CLASS"]==7]
#print(df7)
#print(len(df7))

In [14]:
df8=training_file[training_file["CLASS"]==8]
#print(df8)

In [15]:
df9=training_file[training_file["CLASS"]==9]
#print(df9)

In [22]:
df9.mean()

S1        2.8
C1        8.8
S2        2.8
C2       11.8
S3        2.8
C3        9.8
S4        2.8
C4       11.6
S5        2.8
C5        5.0
CLASS     9.0
dtype: float64

In [23]:
df9.mean(axis = 0)

S1        2.8
C1        8.8
S2        2.8
C2       11.8
S3        2.8
C3        9.8
S4        2.8
C4       11.6
S5        2.8
C5        5.0
CLASS     9.0
dtype: float64

In [24]:
df9.mean(axis = 1,skipna = True)

0    5.545455
1    6.000000
2    6.454545
3    6.909091
4    6.909091
dtype: float64

In [25]:
dx = pd.DataFrame([[1,20,1], [2,21,0], [3,22,1], [4,22,0]])
dx

   0   1  2
0  1  20  1
1  2  21  0
2  3  22  1
3  4  22  0

In [26]:
A=dx[dx[2]==1].mean(axis=0).tolist()
B=dx[dx[2]==1].std().tolist()
print(len(dx),'\n')
BD=[]
for i in range(len(A)):    
    BD.append(A[i])
    BD.append(B[i]) 
    
#B=dx[dx[2]==1].std()
print(BD)

4

[2.0, 1.4142135623730951, 21.0, 1.4142135623730951, 1.0, 0.0]

In [27]:
a=[]

doc0=df0.to_dict()
doc=df8.to_dict()
doc2=df9.to_dict()
a=a.append(df0)
doc.update(doc2)
#print (df8)
#print("\n")
#print(df9,'\n')

#print(doc,"\n")

#print(a)

In [28]:
x=df9.mean(axis=1).tolist()
print(type(x))

xb=[]
xb=df9.values.tolist()
xb

<class 'list'>

[[1, 10, 1, 11, 1, 13, 1, 12, 1, 1, 9],
 [2, 11, 2, 13, 2, 10, 2, 12, 2, 1, 9],
 [3, 12, 3, 11, 3, 13, 3, 10, 3, 1, 9],
 [4, 10, 4, 11, 4, 1, 4, 13, 4, 12, 9],
 [4, 1, 4, 13, 4, 12, 4, 11, 4, 10, 9]]

In [23]:
    summarizado={}
    #0
    AM9=[]
    SD9=[]
    AM9=df0.mean(axis=1).tolist()

    SD9=df0.std(axis=1).tolist()

    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df0)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    BD=list(zip(BD1,BD2))
    summarizado[0]=BD

    #1
    AM9=[]
    SD9=[]
    AM9=df1.mean(axis=1).tolist()

    SD9=df1.std(axis=1).tolist()

    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df1)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    BD=list(zip(BD1,BD2))
    summarizado[1]=BD
    #2
    AM9=[]
    SD9=[]
    AM9=df2.mean(axis=1).tolist()

    SD9=df2.std(axis=1).tolist()

    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df2)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    
    BD=list(zip(BD1,BD2))
    
    summarizado[2]=BD

    #3
    AM9=[]
    SD9=[]
    AM9=df3.mean(axis=1).tolist()

    SD9=df3.std(axis=1).tolist()

    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df3)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    BD=list(zip(BD1,BD2))
    summarizado[3]=BD
    #4
    AM9=[]
    SD9=[]
    AM9=df4.mean(axis=1).tolist()

    SD9=df4.std(axis=1).tolist()

    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df8)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    
    BD=list(zip(BD1,BD2))
    summarizado[4]=BD
    #5
    AM9=[]
    SD9=[]
    AM9=df5.mean(axis=1).tolist()

    SD9=df5.std(axis=1).tolist()

    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df5)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    
    BD=list(zip(BD1,BD2))
    summarizado[5]=BD
    #6
    AM9=[]
    SD9=[]
    AM9=df6.mean(axis=1).tolist()

    SD9=df6.std(axis=1).tolist()

    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df6)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    
    BD=list(zip(BD1,BD2))
    summarizado[6]=BD


    AM9=[]
    SD9=[]
    AM9=df7.mean(axis=1).tolist()

    SD9=df7.std(axis=1).tolist()
    #7
    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df7)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    
    BD=list(zip(BD1,BD2))
    summarizado[7]=BD
    #8
    AM9=[]
    SD9=[]
    AM9=df8.mean(axis=1).tolist()

    SD9=df8.std(axis=1).tolist()

    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df8)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    
    BD=list(zip(BD1,BD2))
    summarizado[8]=BD
    AM9=[]
    SD9=[]
    AM9=df9.mean(axis=1).tolist()
    SD9=df9.std(axis=1).tolist()
    BD=[]
    BD1=[]
    BD2=[]
    for i in range(len(df9)):
        BD1.append(AM9[i])
        BD2.append(SD9[i])
    
    BD=list(zip(BD1,BD2))
    summarizado[9]=BD

    
    #print("DIC",summarizado,len(summarizado))

In [38]:
def CalcularPro(x,madia,desvio):
    expoente = math.exp(-(math.pow(x-madia,2)/(2*math.pow(desvio,2))))
    return (1 / (math.sqrt(2*math.pi) * desvio)) * expoente

In [43]:
def provabilidesporclass(summarizado,test_file):
    probabilidades={}
    for classe,clasummarizado in summarizado.items():
        
        probabilidades[classe]=1
        print("Class",clasummarizado,"\n")
        for i in range(len(clasummarizado)):
            media,desvio= clasummarizado[i]
            x = test_file[i]
            probabilidades[classe]*=CalcularPro(x,media,desvio)
    
    return probabilidades

In [44]:
def previsao(summarizado, teste_file):
    print("TEsste", len(teste_file))
    probabilidades=provabilidesporclass(summarizado,teste_file)
    MelhorLegenda,melhorpro=None,-1
    for Classe, pro in probabilidades.items():
        if MelhorLegenda is None or pro> melhorpro:
            melhorpro=pro
            MelhorLegenda=Classe
            
    return MelhorLegenda

In [45]:
def getPredictions(summarizado, teste_file):
    previsoes=[]
   
    for i in range(len(teste_file)):
        resultado=previsao(summarizado,teste_file[i])
        previsoes.append(resultado)
    return previsao
preve=[]
preve= getPredictions(summarizado, test_file)

TEsste 11
Class 12493

IndexError: list index out of range

In [ ]:
[5.545454545454546, 5.317210478505367, 6.0, 4.898979485566356, 6.454545454545454, 4.5025245443781055, 6.909090909090909, 4.134115273055299, 6.909090909090909, 4.134115273055299]