In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
training_file= pd.read_csv('poker-hand-training.data')

In [4]:
 training_file.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

In [5]:
 training_file.describe()

,S1,C1,S2,C2,S3,C3,S4,C4,S5,C5,CLASS
count,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000,25010.000000
mean,2.508756,6.995242,2.497721,7.014194,2.510236,7.014154,2.495922,6.942463,2.497321,6.962735,0.621152
std,1.116483,3.749805,1.121767,3.766974,1.123148,3.744974,1.116009,3.747147,1.118732,3.741579,0.788361
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,2.000000,4.000000,1.000000,4.000000,2.000000,4.000000,1.000000,4.000000,1.000000,4.000000,0.000000
50%,3.000000,7.000000,2.000000,7.000000,3.000000,7.000000,2.000000,7.000000,3.000000,7.000000,1.000000
75%,4.000000,10.000000,4.000000,10.000000,4.000000,10.000000,3.000000,10.000000,3.000000,10.000000,1.000000
max,4.000000,13.000000,4.000000,13.000000,4.000000,13.000000,4.000000,13.000000,4.000000,13.000000,9.000000

In [6]:
training_file.dtypes

S1       int64
C1       int64
S2       int64
C2       int64
S3       int64
C3       int64
S4       int64
C4       int64
S5       int64
C5       int64
CLASS    int64
dtype: object

In [7]:
training_file.columns

Index(['S1', 'C1', 'S2', 'C2', 'S3', 'C3', 'S4', 'C4', 'S5', 'C5', 'CLASS'], dtype='object')

NameError: name 'S1' is not defined

In [9]:
training_file["S1"]

0        1
1        2
2        3
3        4
4        4
5        1
6        1
7        2
8        3
9        4
10       1
11       2
12       1
13       2
14       3
15       1
16       1
17       3
18       4
19       3
20       1
21       2
22       3
23       2
24       2
25       2
26       3
27       1
28       3
29       2
        ..
24980    4
24981    3
24982    4
24983    3
24984    2
24985    3
24986    2
24987    2
24988    4
24989    4
24990    4
24991    2
24992    4
24993    2
24994    4
24995    2
24996    2
24997    3
24998    1
24999    4
25000    2
25001    2
25002    4
25003    1
25004    3
25005    3
25006    4
25007    2
25008    2
25009    1
Name: S1, Length: 25010, dtype: int64

In [10]:
training_file["S1"].value_counts()

4    6312
2    6298
3    6250
1    6150
Name: S1, dtype: int64

In [11]:
training_file["CLASS"].value_counts()

0    12493
1    10599
2     1206
3      513
4       93
5       54
6       36
7        6
9        5
8        5
Name: CLASS, dtype: int64

In [12]:
training_file.groupby("CLASS").mean()

,S1,C1,S2,C2,S3,C3,S4,C4,S5,C5
CLASS,,,,,,,,,,
0,2.507244,6.985272,2.501161,7.037701,2.512767,7.046746,2.493476,6.905707,2.512047,6.954855
1,2.501934,6.994716,2.494103,7.000377,2.502972,6.987546,2.494669,6.977168,2.479762,6.991414
2,2.557214,7.196517,2.495025,6.892206,2.509950,6.927032,2.564677,7.018242,2.481758,6.893864
3,2.557505,6.680312,2.481481,6.920078,2.567251,6.844055,2.477583,6.785575,2.497076,6.623782
4,2.397849,7.516129,2.440860,7.892473,2.569892,7.784946,2.301075,7.483871,2.612903,7.430108
5,2.703704,7.222222,2.703704,6.648148,2.703704,6.907407,2.703704,6.907407,2.703704,7.055556
6,2.611111,6.944444,2.472222,6.250000,2.555556,6.916667,2.055556,7.333333,2.333333,6.861111
7,3.166667,6.666667,2.833333,6.500000,2.333333,6.500000,1.333333,7.166667,3.333333,9.333333
8,2.200000,3.600000,2.200000,5.600000,2.200000,5.800000,2.200000,5.600000,2.200000,7.400000
9,2.800000,8.800000,2.800000,11.800000,2.800000,9.800000,2.800000,11.600000,2.800000,5.000000

In [27]:
df0=training_file[training_file["CLASS"]==0]
print(df0)

    S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
11   2   6   2   1   4  13   2   4   4   9      0
12   1  10   4   6   1   2   1   1   3   8      0
13   2  13   2   1   4   4   1   5   2  11      0
15   1   3   4   7   1   5   2   4   4  13      0
17   3   8   3  12   2   7   2   6   1   2      0

In [28]:
df1=training_file[training_file["CLASS"]==1]
print(df1)

       S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
10      1   1   2   1   3   9   1   5   2   3      1
14      3   8   4  12   3   9   4   2   3   2      1
19      3   7   2   7   4  11   1  12   3   1      1
20      1  13   4   8   2   7   2  10   3  13      1
22      3  10   2  10   4   5   1   2   3   8      1
23      2   1   3  13   4   6   1   9   4   1      1
24      2  10   2   8   1   8   3   2   2  13      1
25      2  13   1   5   4   5   4   8   3   3      1
26      3   1   1   5   2   7   3  13   1   1      1
27      1   7   1   5   4   8   1   6   2   6      1
36      2   6   4   8   4   3   2   2   1   2      1
37      4  13   1   6   3   8   1   3   2   3      1
39      2  10   3  12   1   2   2   2   2  13      1
40      2   5   2  12   2   3   1   2   3   3      1
41      2   8   3   2   2   5   1  12   4   8      1
42      2   1   4   7   4   6   4   5   1   5      1
44      4  10   4  13   3   5   2   8   1  10      1
48      4   9   3  13   2   1   3   9   4  12      1
49      4   1   3   1   1   3   4   4   2  11      1
56      2   5   3  13   3  12   3   7   1  13      1
57      4   8   3   2   2   8   2   9   3  11      1
61      3  13   2   2   4  10   3   3   2  13      1
64      2   1   1   4   4   1   4  11   3   7      1
68      2   9   4   2   3   3   2   6   3   9      1
69      3   1   1   5   4   8   3  10   3   5      1
70      4   7   4   5   2   9   3   8   1   5      1
72      4  13   3   8   1   1   4   6   1  13      1
74      2   3   4  10   3   5   3  13   4   3      1
76      3   2   4  10   2   6   1  12   3  10      1
78      2   4   1   4   2   5   1   8   1  13      1
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
24942   2  11   2   3   3  10   2  10   2   5      1
24943   2   7   3   1   3   4   2  12   4  12      1
24946   1   7   4   7   3  12   3   3   2  10      1
24947   3   1   1   8   2   2   4   2   1   5      1
24950   3   3   2   9   3   7   1  10   4   3      1
24955   3   4   4  11   3   8   3   5   2   5      1
24956   3  10   2   6   3   7   3  11   4   7      1
24957   1  10   4   2   1   8   2  11   2  10      1
24958   2  10   1  12   3   5   2  12   2   4      1
24959   4   2   1   3   2   3   4   4   3  11      1
24962   1  13   3  10   2   4   1  10   4   2      1
24966   4   6   3   6   1  10   4  11   3   2      1
24968   2   5   1   4   4   1   1  13   2  13      1
24969   2  12   3   1   2  11   1  12   4  13      1
24971   1  12   4   8   4   1   3  10   1   8      1
24974   2   2   3   2   4   1   3  12   4   5      1
24975   1  13   4   8   1  12   4  11   2  13      1
24980   4   5   4  13   3  10   1  13   3   2      1
24985   3  10   1   5   3   3   4   3   4   2      1
24988   4   8   1   8   1   4   3   3   4  12      1
24991   2  11   2   9   4   9   4   6   2  10      1
24994   4   7   1  10   2   6   1  11   3   7      1
24996   2  11   1   5   1  10   4  10   2  13      1
25002   4  10   2  13   4   5   4   7   1   5      1
25003   1  12   2   9   2  12   4   8   1  13      1
25004   3   5   3   7   4  11   3  11   3   2      1
25006   4   1   4  10   3  13   3   4   1  10      1
25007   2   1   2  10   4   4   4   1   4  13      1
25008   2  12   4   3   1  10   1  12   4   9      1
25009   1   7   3  11   3   3   4   8   3   7      1

[10599 rows x 11 columns]

In [30]:
df2=training_file[training_file["CLASS"]==2]
print(df2)

       S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
59      1   5   3  13   2  13   2   7   4   5      2
75      1   4   2  13   3   1   4   4   4   1      2
77      2  11   3   9   1  11   4   8   3   8      2
96      3   7   1   8   1   7   4  12   2   8      2
159     2  10   3  10   2  13   2   6   1   6      2
246     3   8   1  13   1   7   4   7   3  13      2
248     1  11   1  10   4  10   3  13   1  13      2
251     4  12   3   1   2   1   1  11   4  11      2
288     3  13   2   2   4  13   4   6   3   2      2
326     2   7   1   3   1   1   1   7   2   3      2
335     3   9   1  12   3   7   4  12   2   9      2
341     4   9   4   7   1   9   3   7   4   5      2
364     1   2   3   9   4   2   4   9   1   8      2
380     2   4   2   7   1   7   3   4   2   5      2
411     2   5   3   5   4  12   2   2   3  12      2
420     2   9   3   4   2  11   4   4   4   9      2
450     1   6   3   6   4  12   3   8   4   8      2
454     2  13   2   8   1  13   4   3   1   3      2
469     4  11   3   3   3   6   2  11   1   6      2
495     4  10   2  13   2   2   3  10   4  13      2
504     3  10   4  10   1   5   3   4   4   5      2
511     1  13   2  10   2   6   3  13   4   6      2
523     2   7   4  11   4  12   2  12   2  11      2
546     2  13   2   3   4  13   1   3   2   1      2
552     3   8   1   8   3   6   2   6   1  13      2
627     2   5   3   1   4   5   4   1   1  12      2
639     4  13   1   8   3   8   2   9   3  13      2
687     3  13   2  13   1   3   2   3   2   1      2
690     2   4   1  11   4   4   4   7   4  11      2
726     2   8   2   6   4   9   4   6   3   8      2
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
24386   4   2   1   7   2   4   4   4   3   2      2
24388   1   7   2   8   1  11   3   8   2  11      2
24464   2   9   1   8   4  11   2  11   4   8      2
24467   4   3   3   5   4   8   1   8   4   5      2
24472   2   1   4   2   2   4   4   4   3   2      2
24476   4  11   2   9   3   9   1  11   2   3      2
24516   2  12   3  12   3   8   1  11   4  11      2
24540   3  13   1   7   3   6   2   6   2  13      2
24543   2   8   3  13   1   8   3  11   1  13      2
24545   1   5   2   5   3   6   1   6   3  10      2
24566   4   6   2   8   4   8   2   6   3   9      2
24610   3   7   1   5   1   1   3   5   3   1      2
24639   3   1   4   5   2  10   2   5   2   1      2
24657   1   9   4   7   2   1   4   1   2   9      2
24674   2   8   1   6   1   2   2   6   1   8      2
24679   2  10   2   6   1  10   3   2   1   6      2
24684   2   7   1   7   2   1   2  11   4  11      2
24689   3   5   2  10   1   4   2   5   1  10      2
24724   1  10   4   1   1   4   3  10   3   1      2
24734   1  10   4   4   4  10   1   4   1   3      2
24779   4   5   3  12   4  10   3  10   2  12      2
24789   4   9   4  12   4   7   3   7   1  12      2
24794   1   8   2  10   4   8   2   4   4  10      2
24846   2  10   4   4   3   6   1   6   1  10      2
24852   4  11   4   7   3  11   3   7   3  10      2
24873   2  11   4  13   1   1   3  11   4   1      2
24902   2   2   2   4   3   7   4   2   1   4      2
24916   2   5   1   4   2  12   4  12   1   5      2
24925   3   5   3   3   1   3   3   4   1   4      2
24960   3   2   2   5   1   2   2   6   3   5      2

[1206 rows x 11 columns]

In [31]:
df3=training_file[training_file["CLASS"]==3]
print(df3)

       S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
30      3  13   2   7   4  11   3  11   2  11      3
97      1   9   4   6   4   9   2   9   1   1      3
108     4  10   2   1   4  11   3  11   2  11      3
300     1  13   3  12   2  12   1   9   4  12      3
329     4  12   2  11   4  11   1   9   3  11      3
338     2   3   4   7   1   7   1  13   3   7      3
347     1   2   4   6   4  13   1  13   2  13      3
368     1  12   4  12   4   8   4  11   2  12      3
383     4   8   1   9   3   8   1   8   4   3      3
446     4   3   4   6   4   5   1   3   2   3      3
449     4  13   4   6   1  13   2   2   3  13      3
476     3   1   1   1   3   6   4   1   2   7      3
478     4  12   1  12   3  12   2  13   3   4      3
483     1  13   4   6   4   2   3   2   2   2      3
492     1   9   1   8   3  10   4  10   2  10      3
648     4  12   3  12   2  12   1   1   1   3      3
654     3   8   1  12   4  12   1   9   3  12      3
804     2   9   3   9   1   1   1   5   4   9      3
827     1   1   2   4   3   1   3   8   2   1      3
1043    2   2   1  13   2  13   4   3   4  13      3
1081    1   2   2   6   4   2   3   2   2   8      3
1106    3   2   4   7   3   7   1   7   1   1      3
1225    3   2   2   4   3   4   4  13   4   4      3
1426    3   7   1   3   3   3   2   3   4  11      3
1433    3   1   1   9   1   1   2   1   2   3      3
1620    1   3   2   3   3   1   4   2   3   3      3
1625    2   5   2   9   4  13   1   5   4   5      3
1627    2   2   1  13   3   6   4   2   1   2      3
1654    2   3   2   9   3  10   4   3   1   3      3
1842    2   4   1   4   4   2   1   5   3   4      3
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
23563   1   8   2   2   2   5   4   5   1   5      3
23640   3   1   2   1   4  10   1   1   2   2      3
23700   1   5   2   2   1  11   4   2   3   2      3
23738   3  12   4   8   3  11   4  12   1  12      3
23834   3   8   3   7   3   2   4   2   1   2      3
23919   3  11   2  11   1  12   1   9   4  11      3
23955   2   1   1   1   4  11   4   1   2   3      3
23992   4   4   2   4   3   4   2   8   2  13      3
24019   3   5   2   4   3   4   1   4   2   9      3
24052   2   9   1   8   1   9   4   9   2   5      3
24142   3   4   1  11   2   4   1   1   4   4      3
24144   2   9   1   9   4   9   2   1   1  13      3
24184   4  12   3  12   1   9   4  13   2  12      3
24242   2   3   2   8   3  12   1   3   3   3      3
24318   1  13   3  12   4  12   3   2   2  12      3
24471   1  10   1   3   3  10   3   1   2  10      3
24491   4  11   2   4   1   2   4   4   1   4      3
24497   1   1   4   1   4  13   2   9   2   1      3
24510   4   8   2   8   3   6   3   8   2   1      3
24551   2   8   1   8   4  13   4   8   1   1      3
24564   4   8   2   8   3   2   3   8   3  12      3
24642   3   7   4   7   2   8   1   7   4   3      3
24652   4   8   4   1   3   1   2   7   2   1      3
24680   3   3   2   1   4   3   2   7   1   3      3
24809   2   6   1   1   3   7   3   1   2   1      3
24895   4  10   2   4   2   5   4   5   1   5      3
24911   2   8   3  11   1   8   4   8   3   1      3
24970   3   4   3   8   4   3   3   3   1   3      3
24982   4   1   2   1   1   3   2   6   3   1      3
24999   4  12   3  11   4   4   3  12   2  12      3

[513 rows x 11 columns]

In [32]:
df4=training_file[training_file["CLASS"]==4]
print(df4)

       S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
16      1   4   1   1   1   3   3   5   3   2      4
402     1  11   3  12   3  10   4   9   2  13      4
769     3   9   1  10   4  11   3   7   4   8      4
850     2   5   4   2   4   4   2   3   1   6      4
1020    3  10   1   7   3   8   3  11   3   9      4
1063    3   8   2   7   3   9   1   6   2   5      4
1279    1   2   3   4   2   5   1   1   2   3      4
1859    3   6   2   7   1   5   2   4   3   8      4
2024    2   8   2  10   2   6   3   9   3   7      4
2025    3  11   3  12   2   9   3   8   2  10      4
3085    2  13   4  11   1  12   4  10   4   9      4
3533    1  12   3  10   1   8   2  11   2   9      4
3562    4   5   2   6   3   7   4   9   3   8      4
3578    3   1   1   3   1   5   4   4   2   2      4
3591    1   1   3  12   4  11   1  10   1  13      4
3661    3   2   4   5   2   1   4   3   2   4      4
3757    3   9   4  10   4  11   4  12   3  13      4
4320    3   4   1   5   1   8   2   7   3   6      4
4361    1   3   2   2   3   4   2   1   1   5      4
4384    3   3   4   5   2   4   4   6   3   2      4
4952    1   6   2   4   3   7   4   8   1   5      4
5670    1  11   2  12   2  13   1   9   1  10      4
6020    1  10   1   9   1   7   3  11   3   8      4
6038    4   6   2   9   3   8   4   7   1   5      4
6111    1   4   3   8   1   6   1   7   4   5      4
6197    3   4   1   6   3   8   4   7   2   5      4
6434    4   7   3   3   4   6   4   4   2   5      4
6587    2  10   3  13   1   9   2  11   3  12      4
6670    1  11   1   7   4   9   1  10   2   8      4
7361    4   8   3   9   1  10   3   7   4   6      4
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
15532   3  13   4  10   1   1   3  12   1  11      4
16385   3   6   2   7   4   5   1   8   1   4      4
16714   3   7   3   8   4   4   1   6   2   5      4
16817   4  10   4  11   2  13   1  12   3   1      4
17279   3  10   2  13   3  11   2   1   2  12      4
17507   1   3   1   2   3   5   1   4   2   6      4
17521   4   5   4   6   4   9   2   7   3   8      4
18094   2   6   4   8   1   7   1   4   2   5      4
18317   1   3   4   5   2   6   2   7   4   4      4
18666   1  12   3   9   4  10   3  11   1  13      4
18955   3   1   1  12   3  13   2  11   2  10      4
19255   4   3   3   4   1   5   1   1   4   2      4
19401   4  10   1  13   1   9   4  12   4  11      4
19643   3   6   2   2   2   5   2   4   3   3      4
19868   1  13   4   1   2  12   4  11   4  10      4
20599   1   4   4   7   3   5   2   3   2   6      4
20697   1   9   4  10   2   8   1   6   1   7      4
21036   4  13   3  12   4  10   1  11   2   9      4
21886   4   4   4   8   3   7   2   5   3   6      4
22127   1   5   3   6   3   7   4   4   3   3      4
22330   2  13   1  12   1  11   1  10   2   9      4
22474   2  12   3  10   1  13   1   9   1  11      4
22917   3   8   1  11   4  12   1   9   1  10      4
23091   3   8   1   6   2   7   4   4   4   5      4
23201   3   3   1   6   3   4   1   5   3   2      4
23271   3  11   3  13   3  12   3  10   2   1      4
23618   2   6   2   8   2   4   3   7   1   5      4
24099   2  12   1  13   4   9   2  11   4  10      4
24224   3  13   3  10   1   1   1  11   3  12      4
24341   2   9   2  12   4   8   1  11   4  10      4

[93 rows x 11 columns]

In [38]:
df5=training_file[training_file["CLASS"]==5]
print(df5,'\n')

print(len(df5))

       S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
73      4   8   4   4   4   2   4   1   4   7      5
660     4   6   4   1   4   5   4   3   4   8      5
698     4   2   4   4   4   5   4   3   4  12      5
814     2  12   2   1   2  13   2   4   2   3      5
922     1   6   1   5   1   1   1   9   1  12      5
976     4   7   4   4   4  10   4   9   4  12      5
990     3   9   3   3   3  13   3  11   3   5      5
1508    3  10   3   2   3   5   3   8   3   4      5
2557    4  10   4  12   4   6   4   9   4   8      5
2793    3   2   3   5   3  11   3  12   3   7      5
2884    2   6   2  12   2   4   2  13   2   9      5
3467    2  11   2  12   2  13   2   4   2   9      5
3519    3   2   3   5   3  11   3  10   3  12      5
3688    2   7   2  12   2   3   2   2   2   9      5
3846    4   5   4  11   4   2   4   6   4   1      5
4321    3  13   3   8   3   3   3  12   3   5      5
4451    2   8   2  12   2   7   2   3   2  10      5
4487    4  10   4   6   4   4   4   2   4   8      5
4578    2   2   2  10   2   5   2   7   2   6      5
4714    1  13   1   2   1   5   1   7   1   9      5
5275    4   6   4  12   4   3   4  11   4   1      5
6744    1   1   1  10   1  12   1   2   1   4      5
8325    1  12   1   2   1  13   1   5   1   8      5
8587    1   4   1   8   1  13   1  12   1   3      5
8621    3  12   3   3   3   8   3   4   3   6      5
9293    3   9   3  10   3   7   3   8   3   4      5
9582    3   9   3  10   3  11   3   1   3   5      5
10188   4  11   4   8   4   3   4   7   4   1      5
11500   3   1   3   7   3  11   3  10   3   2      5
11528   1   6   1   4   1   5   1  10   1   8      5
11633   4  12   4   4   4  11   4   1   4   9      5
12079   1   4   1   9   1   3   1   2   1   1      5
12123   4   1   4   3   4   9   4  12   4   8      5
12472   4   9   4   7   4   6   4   8   4  13      5
14044   3  10   3   7   3   5   3   3   3   9      5
14379   2  11   2  13   2   1   2  12   2   9      5
14786   3   2   3   4   3   8   3   7   3   5      5
15592   4   1   4   5   4  13   4   9   4   7      5
15735   4   5   4   3   4   2   4   1   4  13      5
16041   4   4   4   6   4   2   4   7   4  12      5
16338   4   5   4   9   4  12   4  11   4   4      5
16914   1  13   1   6   1   2   1   4   1   1      5
18210   1   9   1  11   1  13   1  10   1   3      5
18970   2  11   2   1   2   6   2   9   2   8      5
19802   1  13   1   3   1   7   1   5   1  12      5
21638   2   1   2   7   2   3   2   9   2  13      5
21661   4   2   4   7   4   8   4  12   4   3      5
22008   1   6   1   7   1   3   1   4   1  11      5
22473   3   2   3   3   3  13   3   7   3   1      5
23365   2   9   2   1   2   7   2  12   2  10      5
23633   4  12   4   2   4   8   4  10   4  11      5
24316   4  10   4  12   4   9   4   1   4  13      5
24703   2   9   2  13   2   5   2   4   2   3      5
24949   1   9   1  11   1   3   1   8   1   4      5

54

In [39]:
df6=training_file[training_file["CLASS"]==6]
print(df6)

       S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
425     3   7   2   2   1   7   2   7   1   2      6
513     4   4   2   4   1   4   3   1   1   1      6
1533    3   2   1   2   3  11   1  11   4  11      6
2582    2   5   3   5   1  11   3  11   2  11      6
2710    2   1   1   2   4   2   3   1   3   2      6
3408    3   8   3   2   1   2   2   8   4   8      6
4732    1   4   2  10   1  10   3   4   2   4      6
4900    1  13   4  13   3   9   1   9   2  13      6
5736    3   2   4   2   1   2   1  13   2  13      6
7960    4   8   3   7   2   8   1   7   1   8      6
8057    4  11   2   2   4   2   3  11   1   2      6
8144    3   5   2   6   4   6   1   6   1   5      6
8164    2   9   1   4   1   9   4   4   3   9      6
8407    1  10   3  10   4  10   2   4   4   4      6
9331    2   9   3  11   1  11   1   9   3   9      6
10507   4   1   1   1   3   8   2   1   2   8      6
11836   1   9   4   4   2   9   2   4   1   4      6
12040   4   5   1   5   3  11   2  11   3   5      6
12427   1   6   1  13   2   6   3   6   3  13      6
13072   4   4   3   9   2   4   2   9   1   9      6
13779   3  13   4   8   2   8   1  13   1   8      6
14223   3  10   3   5   4   5   1  10   2  10      6
14562   4   3   2   1   4   1   2   3   3   1      6
15259   2   8   1  10   4   8   2  10   3   8      6
16908   3   8   2   8   4   8   1  13   4  13      6
17859   2   7   4   5   4   7   2   5   1   5      6
17879   4   6   4  11   1  11   2  11   2   6      6
18522   3  13   4  13   4   6   2  13   3   6      6
20176   4  11   3  11   1   3   3   3   4   3      6
22172   1   6   3   6   1   3   4   3   2   3      6
22363   3   8   2   6   3   6   1   8   4   8      6
23574   4  10   2  11   3  11   3  10   1  10      6
24586   1   4   3   3   4   4   1   3   2   4      6
24665   1  10   3   3   3  10   2  10   4   3      6
24776   1   6   2   6   4  12   3   6   1  12      6
24977   3   4   1   4   2   4   2   6   3   6      6

In [41]:
df7=training_file[training_file["CLASS"]==7]
print(df7)
print(len(df7))

       S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
8466    3   8   4   8   1   8   1  12   2   8      7
12538   2   8   4   8   3   8   1   8   4  13      7
12552   4  11   2  11   3  11   1  11   2   5      7
15285   3   3   2   3   4   3   1   3   4  13      7
19743   3   8   3   7   2   7   1   7   4   7      7
21745   4   2   2   2   1   2   3   2   4  10      7
6

In [42]:
df8=training_file[training_file["CLASS"]==8]
print(df8)

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
5   1   2   1   4   1   5   1   3   1   6      8
6   1   9   1  12   1  10   1  11   1  13      8
7   2   1   2   2   2   3   2   4   2   5      8
8   3   5   3   6   3   9   3   7   3   8      8
9   4   1   4   4   4   2   4   3   4   5      8

In [ ]:
df9=training_file[training_file["CLASS"]==9]
print(df9)